@import '../../style-basics/core-styles.scss';
div.no-box-shadow.no-box-shadow {
  box-shadow: none;
}
button.chooseDiffPlaylist.chooseDiffPlaylist {
  background-color: $spotify-green;
  &:hover {
    background-color: $spotify-dark-green;
  }
}